@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: "DM Sans", system-ui, sans-serif;
  --color-green: #4ade80;
  --color-pink: #f472b6;
  --color-orange: #fb923c;
  --color-yellow: #facc15;
  --color-brown: #713f12;
  --color-blue: #60a5fa;
  --color-top: #09090b;
  --color-high: #3f3f46;
  --color-mid: #71717a;
  --color-low: #d4d4d8;
  --color-bottom: #fafafa;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", system-ui, sans-serif;
  background-color: var(--color-top);
  color: var(--color-high);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-green);
  color: var(--color-top);
}
